/* header {
  background-color: #252440;
} */

header {
  height: 100px;
  background-color: #252440;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px 20px;
}

.image-icon img {
  width: 180px;
}

/* hamburguer button */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* routes */
.header-routes {
  list-style: none;
  display: flex;
  gap: 15px;
}

.header-routes a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

/* responsive design movil */
@media (max-width: 480px) {
  .hamburger {
    display: block;
  }

  .header-routes {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #444;
    padding: 10px;
    display: none;
  }

  .header-routes.active {
    display: flex;
  }
}
