/* header {
  background-color: #252440;
} */

header {
  height: 100px;
  background-color: #252440;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px 20px;
}

.image-icon img {
  margin-left: 100px;
  width: 180px;
  height: 90px;
}

/* hamburguer button */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* routes */
.header-routes {
  list-style: none;
  display: flex;
  gap: 15px;
}

.header-routes a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-left: 30px;
}

.header-routes button {
  width: 140px;
  height: 37px;
  border-radius: 20px;
  font-size: 18px;
}

/* responsive design para tablet */
@media (max-width: 880px) {
  .image-icon img {
    margin-left: 50px;
    width: 180px;
    height: 90px;
  }

  .header-routes a {
    margin-left: 15px;
  }
}

/* responsive design para celular */
@media (max-width: 480px) {
  .image-icon img {
    width: 170px;
    margin-left: 20px;

    height: 85px;
  }

  .hamburger {
    display: block;
  }

  .header-routes {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #444;
    padding: 10px;
    display: none;
  }

  .header-routes.active {
    display: flex;
  }
}
