.home-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.home-top h1 {
  font-size: 50px;
}

.home-top h2 {
  font-size: 40px;
}

.home-top input {
  font-size: 20px;
  margin-bottom: 40px;
  width: 500px;
  height: 50px;
  border-radius: 24px;
  border: 2px solid gray;
  padding-left: 10px;
}

/* contenedor de productos con grid */
.cont-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  padding: 40px;
}
/* productos */
.show-product {
  background-color: lavender;
  /* padding: 20px; */
  text-align: center;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.123);
  border-radius: 20px;
}

.show-product .buttons-home button {
  width: 130px;
  height: 30px;
  background-color: lightgray;
  font-size: 20px;
}

.image-product {
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-product img {
  width: 100px;
  height: 143px;
}

.price-product {
  font-size: 27px;
  margin: 10px;
}

.info-product {
  font-size: 18px;
  margin: 8px;
  font-weight: 400;
}

/* --------------------------------- */
.cont-popup-home {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.popup-update-home {
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  position: absolute;
  position: fixed;
  top: 2%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lavender;
  width: 800px;
  height: 750px;
  /* gap: 40px; */
}

/* .button-close-update {
  background-color: blue;
  width: 100%;
  position: relative;
}
  */

.popup-update-home button {
  font-size: 20px;
  color: black;
  width: 80px;
  height: 40px;
}

.text-update-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-update-home h2 {
  font-size: 30px;
}

.text-update-home p {
  font-size: 25px;
  text-align: center;
}

.popup-update-home .info-update-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-update-home .info-update-home label {
  font-size: 23px;
}

.popup-update-home .info-update-home input {
  width: 300px;
  height: 38px;
  border-radius: 14px;
  font-size: 18px;
}

.popup-update-home .info-update-home textarea {
  width: 300px;
  height: 120px;
}

.popup-update-home .info-update-home select {
  width: 250px;
  height: 40px;
}

.popup-update-home .button-update-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-update-home .button-update-home button {
  width: 180px;
  height: 40px;
  background-color: #ffd700;
  border-radius: 14px;
  font-size: 20px;
}

.error-update-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-update-home p {
  color: red;
  font-size: 25px;
}

.succes-update-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.succes-update-home p {
  color: green;
  font-size: 25px;
}
/* -------------------------------------- */
/* Responsive design */
/* -------------------------------------- */

@media (max-width: 880px) {
  .cont-products {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
  }

  .popup-update-home {
    /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
    position: absolute;
    position: fixed;
    top: 2%;
    width: 640px;
    height: 600px;
    /* gap: 40px; */
  }

  /* .button-close-update {
  background-color: blue;
  width: 100%;
  position: relative;
}
  */

  .popup-update-home button {
    font-size: 16px;
    width: 64px;
    height: 32px;
  }

  .text-update-home h2 {
    font-size: 24px;
  }

  .text-update-home p {
    font-size: 20px;
  }

  .popup-update-home .info-update-home label {
    font-size: 19px;
  }

  .popup-update-home .info-update-home input {
    width: 240px;
    height: 31px;
    font-size: 15px;
  }

  .popup-update-home .info-update-home textarea {
    width: 240px;
    height: 96px;
  }

  .popup-update-home .info-update-home select {
    width: 200px;
    height: 32px;
  }

  .popup-update-home .button-update-home button {
    width: 144px;
    height: 32px;
    border-radius: 11px;
    font-size: 16px;
  }

  .error-update-home p {
    font-size: 20px;
  }

  .succes-update-home p {
    font-size: 20px;
  }
}

/* Responsive design celulares */
/* -------------------------------------------- */
@media (max-width: 480px) {
  .home-top h1 {
    font-size: 40px;
  }

  .home-top h2 {
    font-size: 25px;
  }

  /* Buscador */
  .home-top input {
    font-size: 15px;
    margin-bottom: 40px;
    width: 300px;
    height: 30px;
    border-radius: 24px;
    border: 2px solid gray;
    padding-left: 8px;
  }

  /* contenedor de productos con grid */
  .cont-products {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  /* hasta aca */
  .popup-update-home {
    /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
    width: 420px;
    height: 562px;
    /* gap: 40px; */
  }

  /* .button-close-update {
  background-color: blue;
  width: 100%;
  position: relative;
}
  */

  .popup-update-home button {
    font-size: 15px;
    width: 60px;
    height: 30px;
  }

  .text-update-home h2 {
    font-size: 22px;
  }

  .text-update-home p {
    font-size: 18px;
  }

  .popup-update-home .info-update-home label {
    font-size: 17px;
  }

  .popup-update-home .info-update-home input {
    width: 225px;
    height: 28px;
    font-size: 13px;
  }

  .popup-update-home .info-update-home textarea {
    width: 225px;
    height: 90px;
  }

  .popup-update-home .info-update-home select {
    width: 187px;
    height: 30px;
  }

  .popup-update-home .button-update-home button {
    width: 135px;
    height: 30px;
    font-size: 15px;
  }

  .error-update-home p {
    font-size: 18px;
  }

  .succes-update-home p {
    font-size: 18px;
  }
}
